.header {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.2s;
  min-height: 100vh;

  &.active {
    transform: translateY(0);
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & li {
    color: var(--black-50);
    font-weight: 400;
    transition: color 0.2s;

    &:hover {
      color: var(--black);
    }
  }
}

div ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon-button {
  color: var(--black-50);
  background-color: var(--black-5);
  border-radius: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;

  &:hover {
    color: var(--black);
  }
}

.toggle-menu {
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 24px;
  height: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: currentColor;
}

.toggle-menu i {
  display: block;
  position: absolute;
  height: 2px;
  background: currentColor;
  width: 24px;
  left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
  opacity: 1;
}

.toggle-menu i:nth-child(1) {
  top: 4px;
}

.toggle-menu i:nth-child(2) {
  top: 10px;
}

.toggle-menu i:nth-child(3) {
  top: 16px;
}

.toggle-menu.active i:nth-child(1) {
  transform: rotate(-45deg);
  top: 11px;
}

.toggle-menu.active i:nth-child(2) {
  opacity: 0;
}

.toggle-menu.active i:nth-child(3) {
  transform: rotateZ(45deg);
  top: 11px;
}

@media screen and (width >= 768px) {
  .toggle-menu {
    display: none;
  }

  .header {
    transform: none;
    min-height: auto;
    flex-direction: row;
    width: 100%;
    padding: 1rem 2rem;
    gap: 3rem;
    max-width: 1280px;
    margin: 0 auto;
  }

  nav ul {
    flex-direction: row;
    gap: 2rem;
  }

  nav {
    flex: 1;
  }
}
