.transactions-resume-section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;

  & .transactions-resume-title {
    font-weight: 500;
  }

  & .transactions-resume-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .transaction-resume-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 1.5rem;
      row-gap: 0.5rem;
      flex-wrap: wrap;

      & .transaction-resume-details {
        flex: auto;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1.5rem;
        row-gap: 0.5rem;

        & .transaction-resume-amount {
          font-weight: 500;
        }

        & .transaction-resume-date,
        .transaction-resume-currency {
          color: var(--black-50);
          font-weight: 500;
        }
      }

      & .transaction-resume-status {
        text-transform: capitalize;
        background-color: var(--green-pastel);
        color: var(--green);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
      }
    }
  }
}

.arrow-container-green {
  display: grid;
  place-items: center;
  background-color: var(--green);
  border-radius: 50%;
  min-height: 2rem;
  min-width: 2rem;
}

.arrow-container-red {
  display: grid;
  place-items: center;
  background-color: var(--red);
  border-radius: 50%;
  min-height: 2rem;
  min-width: 2rem;
}
