<section class="transactions-resume-section-container">
  <h3 class="transactions-resume-title">Recent Transactions</h3>
  <div class="transactions-resume-container">
    <article class="transaction-resume-container"
      *ngFor="let transaction of transactions">
      @if (transaction.destinationAccount.accountNumber ===
      currentAccountNumber) {
      <div class="arrow-container-green">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="white"
            d="M11 4h2v12l5.5-5.5l1.42 1.42L12 19.84l-7.92-7.92L5.5 10.5L11 16V4Z" />
        </svg>
      </div>
      } @else {
      <div class="arrow-container-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24"><g transform="translate(0 24) scale(1 -1)">
            <path
              fill="white"
              d="M11 4h2v12l5.5-5.5l1.42 1.42L12 19.84l-7.92-7.92L5.5 10.5L11 16V4Z" />
          </g>
        </svg>
      </div>
      }
      <div class="transaction-resume-details">
        <p>
          {{transaction.destinationAccount.accountNumber ===
          currentAccountNumber ?
          '************' + transaction.sourceAccount.accountNumber.slice(18):
          '************' +
          transaction.destinationAccount.accountNumber.slice(18)}}
        </p>
        <p class="transaction-resume-amount">
          {{'$'}}{{transaction.amount}}
        </p>
        <p class="transaction-resume-date">{{transaction.createdAt}}</p>
        <p class="transaction-resume-currency">USD</p>
      </div>
      <div class="transaction-resume-status">{{transaction.status}}</div>
    </article>
  </div>
</section>
