<div class="container">
  <h2>Overview</h2>

  <section class="section-container">
    <h3 class="section-title">My Assets</h3>
    <div class="assets-box-container">
      <div class="asset-box">
        <h4>Total Balance</h4>
        <p>$1500</p>
      </div>
      <div class="asset-box">
        <h4>Income</h4>
        <p>$1200</p>
      </div>
      <div class="asset-box">
        <h4>Expense</h4>
        <p>$200</p>
      </div>
    </div>
  </section>

  <section class="section-container">
    <h3 class="section-title">Monthly Statistics</h3>
    <div style="min-width: 250px; min-height: 250px; width: 100%;">
      Chart
    </div>
  </section>

  <app-quick-actions></app-quick-actions>

  <section class="section-container">
    <h3 class="section-title">Recent Transactions</h3>
    <div>
      <app-transaction-resume type="income"></app-transaction-resume>
      <app-transaction-resume type="expense"></app-transaction-resume>
    </div>
  </section>
</div>