<div class="container">
  <h2>Overview</h2>

  <app-balance-resume></app-balance-resume>

  <section class="section-container">
    <h3 class="section-title">Monthly Statistics</h3>
    <div style="min-width: 250px; min-height: 250px; width: 100%;">
      Chart
    </div>
  </section>

  <app-quick-actions></app-quick-actions>

  <section class="section-container">
    <h3 class="section-title">Recent Transactions</h3>
    <div>
      <app-transaction-resume type="income"></app-transaction-resume>
      <app-transaction-resume type="expense"></app-transaction-resume>
    </div>
  </section>
</div>