<section class="quick-actions-container">
  <h3 class="quick-actions-title">Quick Actions</h3>
  <form class="form-container" [formGroup]="formGroup"
    (ngSubmit)="handleSubmit()">
    <div class="quick-actions-selector" role="tablist">
      <button type="button" role="tab"
        [attr.aria-selected]="activeButton === 'send'"
        (click)="handleChangeActionType('send')">Send</button>
      <button type="button" role="tab"
        [attr.aria-selected]="activeButton === 'receive'"
        (click)="handleChangeActionType('receive')" disabled>Receive</button>
    </div>
    @if (activeButton === 'send') {
    <app-form-select [options]="accountOptions" label="Source Account"
      formSelectId="sourceAccount" name="sourceAccount"
      [selectControl]="formGroup.controls.sourceAccount"></app-form-select>
    <app-form-input inputId="destinationAccount" label="Destination Account"
      name="destinationAccount" placeholder="Account Number" type="text"
      [inputControl]="formGroup.controls.destinationAccount"></app-form-input>
    } @else {
    <app-form-select [options]="accountOptions"
      label="Destination Account"
      formSelectId="destinationAccount" name="destinationAccount"
      [selectControl]="formGroup.controls.destinationAccount"></app-form-select>
    <app-form-input inputId="sourceAccount" label="Source Account"
      name="sourceAccount" placeholder="Source Account" type="text"
      [inputControl]="formGroup.controls.sourceAccount"></app-form-input>
    }
    <app-form-input inputId="amount" label="Amount"
      name="amount" placeholder="Amount" type="number"
      [inputControl]="formGroup.controls.amount"></app-form-input>
    <app-button text="Send now" type="submit"></app-button>
  </form>
</section>