<section class="quick-actions-container">
  <h3 class="quick-actions-title">Quick Actions</h3>
  <form class="form-container" [formGroup]="formGroup"
    (ngSubmit)="handleSubmit()">
    <div class="quick-actions-selector">
      <label
        [ngClass]="['quick-action', activeButton === 'send' ? 'active' : '']"
        (click)="handleChangeActionType($event)">
        Send
        <input type="radio" name="quickActionType" id="quickActionSend"
          value="send" hidden [formControl]="formGroup.controls.type">
      </label>
      <label
        [ngClass]="['quick-action', activeButton === 'receive' ? 'active' : '']"
        (click)="handleChangeActionType($event)">
        Receive
        <input type="radio" name="quickActionType" id="quickActionReceive"
          value="receive" hidden [formControl]="formGroup.controls.type">
      </label>
    </div>
    <app-form-select [options]="sourceAccountOptions" label="Source Account"
      formSelectId="sourceAccount" name="sourceAccount"
      [selectControl]="formGroup.controls.sourceAccount"></app-form-select>
    <app-form-input inputId="destinationAccount" label="Destination Account"
      name="destinationAccount" placeholder="Account Number" type="text"
      [inputControl]="formGroup.controls.destinationAccount"></app-form-input>
    <app-form-input inputId="amount" label="Amount"
      name="amount" placeholder="Amount" type="number"
      [inputControl]="formGroup.controls.amount"></app-form-input>
    <app-button text="Send now" type="submit"></app-button>
  </form>
</section>