<section class="quick-actions-container">
  <h3 class="quick-actions-title">Quick Actions</h3>
  <div class="quick-actions-selector">
    <button class="quick-action active">Send</button>
    <button class="quick-action">Receive</button>
  </div>
  <form class="form-container">
    <app-form-select [options]="sourceAccountOptions" label="Source Account"
      formSelectId="sourceAccount"></app-form-select>
    <app-form-input inputId="destinationAccount" label="Destination Account"
      name="destinationAccount" placeholder="Account Number" type="text"></app-form-input>
    <app-form-input inputId="amount" label="Amount"
      name="amount" placeholder="Amount" type="number"></app-form-input>
    <app-button text="Send now" type="submit"></app-button>
  </form>
</section>