.quick-actions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;

  & .quick-actions-title {
    font-weight: 500;
  }

  & .quick-actions-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--black-5);
    border-radius: 0.5rem;
    gap: 0.5rem;

    & button {
      cursor: pointer;
      display: inline-flex;
      gap: 0.25rem;
      background-color: transparent;
      font-weight: 500;
      font-size: 0.875rem;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      padding: 0.5rem 0.75rem;
      transition: all 0.2s;
      color: var(--black-100);
      justify-content: center;
      width: 100%;

      &[aria-selected="true"] {
        background-color: var(--white);
        border: 1px solid var(--black-10);
        box-shadow: 4px 4px 8px -8px var(--black-50);
      }

      &:disabled {
        color: var(--black-25);
        cursor: not-allowed;
      }
    }
  }

  & .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
