<div class="login-container">
  <h2>Sign In</h2>
  <form class="login-form" [formGroup]="loginFormGroup"
    (ngSubmit)="handleSubmit()">
    <app-form-input inputId="email" label="Email" name="email"
      placeholder="example@email.com" type="email"
      [inputControl]="loginFormGroup.controls.email"></app-form-input>
    <app-form-input inputId="password" label="Password" name="password"
      placeholder="**********" type="password"
      [inputControl]="loginFormGroup.controls.password"></app-form-input>
    <app-button text="Log In" variant="fill" color="primary" type="submit"></app-button>
  </form>
</div>