<div class="background">
  <div class="container">
    <h2 class="container-title">Transactions</h2>

    <div class="transactions-table-container">
      <div class="transactions-table-container-overflow">
        <table class="transactions-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Account</th>
              <th>To/From</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td class="transaction-date">{{transaction.createdAt}}</td>
              <td>
                <div
                  [ngClass]="['transaction-status', 'transaction-status-' + transaction.status]">{{transaction.status}}</div>
              </td>

              @if
              (accountNumbers.includes(transaction.sourceAccount.accountNumber))
              {
              <td>{{transaction.sourceAccount.accountNumber}}</td>
              <td>{{transaction.destinationAccount.accountNumber}}</td>
              } @else {
              <td>{{transaction.destinationAccount.accountNumber}}</td>
              <td>{{transaction.sourceAccount.accountNumber}}</td>
              }
              @if (transaction.description) {
              <td
                class="transaction-description">{{transaction.description}}</td>
              } @else {
              <td class="transaction-description">-</td>
              }
              <td class="transaction-amount">{{transaction.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="transactions-pagination">
        <span>
          Showing {{(meta.currentPage - 1) * meta.itemsPerPage + 1}} -
          {{(meta.currentPage) * meta.itemsPerPage}} of
          {{meta.totalItems}} entries
        </span>

        <div class="transactions-pagination-buttons-container">
          <button [disabled]="!meta.hasPreviousPage"
            (click)="meta.previousPage && updateTransactions(meta.previousPage)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24"><path fill="currentColor"
                d="M15.61 7.41L14.2 6l-6 6l6 6l1.41-1.41L11.03 12z" /></svg>
          </button>

          @if (meta.currentPage - 4 >= 1 && meta.currentPage + 1 >
          meta.totalPages) {
          <button (click)="updateTransactions(meta.currentPage - 4)">
            {{meta.currentPage - 4}}
          </button>
          }
          @if (meta.currentPage - 3 >= 1 && meta.currentPage + 2 >
          meta.totalPages) {
          <button (click)="updateTransactions(meta.currentPage - 3)">
            {{meta.currentPage - 3}}
          </button>
          }

          @if (meta.currentPage - 2 >= 1) {
          <button (click)="updateTransactions(meta.currentPage - 2)">
            {{meta.currentPage - 2}}
          </button>
          }
          @if (meta.currentPage - 1 >= 1) {
          <button (click)="updateTransactions(meta.currentPage - 1)">
            {{meta.currentPage - 1}}
          </button>
          }

          <button class="active">{{meta.currentPage}}</button>

          @if (meta.currentPage + 1 <= meta.totalPages) {
          <button (click)="updateTransactions(meta.currentPage + 1)">
            {{meta.currentPage + 1}}
          </button>
          }
          @if (meta.currentPage + 2 <= meta.totalPages) {
          <button (click)="updateTransactions(meta.currentPage + 2)">
            {{meta.currentPage + 2}}
          </button>
          }

          @if (meta.currentPage + 3 <= meta.totalPages && meta.currentPage - 2 <
          1) {
          <button (click)="updateTransactions(meta.currentPage + 3)">
            {{meta.currentPage + 3}}
          </button>
          }
          @if (meta.currentPage + 4 <= meta.totalPages && meta.currentPage - 1 <
          1) {
          <button (click)="updateTransactions(meta.currentPage + 4)">
            {{meta.currentPage + 4}}
          </button>
          }

          <button [disabled]="!meta.hasNextPage"
            (click)="meta.nextPage && updateTransactions(meta.nextPage)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24"><path fill="currentColor"
                d="M10.02 6L8.61 7.41L13.19 12l-4.58 4.59L10.02 18l6-6z" /></svg>
          </button>
        </div>
      </div>

    </div>

  </div>
</div>